<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адреса</title>
</head>
<body>
<h2>Доступные эндпоинты:</h2>
<ul>
    <li>
        api/v1/employee/
        <ul>
            GET - получение списка всех работников
        </ul>
        <ul>
            POST - Создание нового работника или обновление уже существующего
        </ul>
    </li>
    <li>
        api/v1/employee/int:pk/
        <ul>
            DELETE - удаление конкретного работника
        </ul>
    </li>
</ul>
</body>
</html>